.Roulette-Container {
	width: 100%;
	display: flex;
	justify-content: center;
}
.Roulette-Display {
	width: 100%;
	min-width: 100%;
	background-color: #131313;
	position: relative;
	overflow: hidden;
}
.Roulette-Screen {
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 10px;
	/* background: radial-gradient(transparent 50%, black); */
	border: 2px solid rgba(255, 255, 255, 0.5);
}
.Roulette-Divider {
	position: absolute;
	width: 2px;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.75);
}
.Roulette-Roller {
	display: flex;
	gap: 10px;
	margin: 20px 0;
	margin-left: 0px;
	transition: margin-left 10s cubic-bezier(0.23, 0.78, 0.29, 1);
}

.Roulette-Roller-Item {
	min-width: 150px;
	min-height: 150px;
	max-width: 150px;
	max-height: 150px;
	height: 150px;
	width: 150px;
}
